$image_path : '../../../assets/img/kotel.jpg';
$background_path : '../../../assets/img/puzzle.png';
$background_path_kot2 : '../../../assets/img/kot2.jpg';
$background_path_kot3 : '../../../assets/img/kot3.jpg';

.kotel1 {
  background-image: url($image_path);
}

.kotel2 {
  background-image: url($background_path_kot2);
}

.kotel3 {
  background-image: url($background_path_kot3);
}

.game {
  background-image: url($background_path);
  background-size: cover;
  display:flex;
  flex-direction: column;
  align-items: center;
  .nav {
    // width: 100%;
    flex-grow: 1;
    flex-basis: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    background-color: orange;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.9);
    font-size: 1.3rem;
    font-weight: bold;
    background-color:MidnightBlue ;
    color:Cornsilk;
    .timer {

    }
  }
}

.board {
  background-color:#006eac;
  border: 3px solid navy;
  padding: 1rem;
  &__row {
    display: flex;

    &--element{
      margin: 0.2rem;
      width: 7rem;
      height: 7rem;
      border: 0.1rem solid black;
      background-color: #d5dce0;
      &:hover{
        background-color: #fba82e;
      }
    }
  }
}

.puzzle {
  //pointer-events:none;
  width:7rem;
  height: 7rem;
  background-size: auto 21rem;
  margin: 0.2rem;
  border: 2px solid black;
  position: absolute;
  cursor: pointer;
}

.element11 {
  background-position:0 0;
}

.element12 {
  background-position:-7rem 0;
}

.element13 {
  background-position:-14rem 0;
}

.element21 {
  background-position:0 -7rem;
}

.element22 {
  background-position:-7rem -7rem;
}

.element23 {
  background-position:-14rem -7rem;
}

.element31 {
  background-position:0 -14rem;
}

.element32 {
  background-position:-7rem -14rem;
}

.element33 {
  background-position:-14rem -14rem;
}

.blink_me {
  animation: blinker 1s linear 1;
}

@keyframes blinker {
  50% { background-color: #dd0000; }
}
