<div style="height: 100vh; display: flex; flex-direction:column; justify-content:center; align-items:center;">
  <div style="display:flex;">
    <div ci-draggable class="puzzle element11"></div>
    <div ci-draggable class="puzzle element12"></div>
    <div ci-draggable class="puzzle element13"></div>
  </div>
  <div style="display:flex;">
    <div ci-draggable class="puzzle element21"></div>
    <div ci-draggable class="puzzle element22"></div>
    <div ci-draggable class="puzzle element23"></div>
  </div>
  <div style="display:flex;">
    <div ci-draggable class="puzzle element31"></div>
    <div ci-draggable class="puzzle element32"></div>
    <div ci-draggable class="puzzle element33"></div>
  </div>
</div>
