<div class="game">
  <confirmation-box display="game.confirmBox"
                    score = "game.finalScore"
                    submit="game.submit()"
                    reset="game.reset()"></confirmation-box>
  <div class="game__nav-container">
    <div class="game__nav-container--bar bar">
      <div>
        <a ui-sref="home">
          <button class="normal-btn">Quit</button>
        </a>
        <a ui-sref="level">
          <button class="normal-btn">Picture</button>
        </a>
      </div>
      <div>User : {{::game.userName}}</div>
      <div class="bar__points">Points: {{game.finalScore.result}}</div>
      <div>Mistakes: {{game.mistakes.value}}</div>
      <div>
        <timer seconds="game.seconds"
               calc="game.calcScore()"
               game-over="game.gameOver"></timer>
      </div>
    </div>
  </div>
  <div class="game__container">
    <board></board>
    <div class="game__container--mix mix" >
        <div ng-repeat="pos in game.positions track by $index"
             ci-draggable target="::game.getTarget($index)"
             correct="game.correct()"
             mistake="game.mistake()"
             class="{{::game.kotel}} puzzle {{::game.getElement($index)}}"></div>
    </div>
  </div>
</div>
