<div class="board">
  <div class="board__row">
    <div id="t11" class="board__row--element"></div>
    <div id="t12" class="board__row--element"></div>
    <div id="t13" class="board__row--element"></div>
  </div>
  <div class="board__row">
    <div id="t21" class="board__row--element"></div>
    <div id="t22" class="board__row--element"></div>
    <div id="t23" class="board__row--element"></div>
  </div>
  <div class="board__row">
    <div id="t31" class="board__row--element"></div>
    <div id="t32" class="board__row--element"></div>
    <div id="t33" class="board__row--element"></div>
  </div>
</div>
