@import '../../../../assets/styles/scss/base/variables';

.board {
  background-color: $blue;
  border: 3px solid $dark-blue;
  padding: 1rem;
  &__row {
    display: flex;

    &--element{
      margin: 0.2rem;
      width: $elem-size;
      height: $elem-size;
      border: 0.1rem solid black;
      background-color: $light-blue;
      &:hover{
        background-color: $sky-blue;
      }
    }
  }
}
