.normal-btn {
  color:black;
  font-size: 1.3rem;
  background: none;
  background-color:white;
  border: 1px solid navy;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  &:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }
  &:active{
    color:white;
    background-color: navy;
  }
}
