@import '../../../assets/styles/scss/base/variables';

.scores {
  display:flex;
  align-items:center;
  flex-direction: column;

  &__nav {
    width: 100%;
  }
  &__title{
    font-weight: bold;
    font-size:2em;
    padding-bottom: 2rem;
    text-align: center;
  }
  &__board {
    width: 50vw;
    background-color: white;
    padding: 2em;
    border: 3px solid $dark-blue;
    &--item {
      display: flex;
      justify-content: space-between;
      padding: 1em 1em;
      margin-bottom: 0.5em;
      border: 2px solid $gray;
      background-color: white;
    }
  }
}
