.home {
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  &__card {

    background-color:white;
    border: 5px solid navy;
    padding: 3rem;
    &--title {
      font-size:2em;
      text-align: center;
      font-weight: bold;
      padding-bottom: 1rem;
    }
    &--user{
      font-size:1.5em;
      font-weight:bold;
      display:flex;
      align-items: center;
      input {
        line-height: 1.5rem;
        height:1.5rem;
        margin: 0 1rem;
        padding: 0 0.5rem;

        font-size: 1.5rem;
      }
    }
    &--subtitle {
      color: navy;
      text-align: center;
    }
    &--start-btn {
      margin: 1rem 0;
      padding: 0.5rem;
      text-align: center;
    }
  }
}
