//colors
$dark-blue: #000080;
$blue: #006eac;
$sky-blue: #6698FF;
$light-blue: #d5dce0;

$dark-gray: #0e0e0e;
$gray: #C0C0C0;
$light-gray: #FFF8DC;

$light-orange: #f9c377;


//size
$elem-size: 7rem;
